<h2> What do you want to say? </h2>

<%= form_with model: @comment do |f|%>
<%= f.collection_select :user_id, User.all, :id, :name, prompt: true %>
<%= f.collection_select :post_id, Post.all, :id, :title, prompt: true %>
<%= f.text_field :comment, placeholder: 'Comment' %>
<%= f.submit %>
<% end %>