<h2>Please enter you information to create a new account below!</h2>

<% if flash[:errors]%>
    <% flash[:errors].each do |error| %>
        <p style="color:red"><%= error %></p>
        <% end %>
    <% end %>

<%= form_with model: @user do |f| %>
<%= f.text_field :name, placeholder: 'Name' %>
<%= f.text_field :handle, placeholder: 'Handle' %>
<%= f.text_field :description, placeholder: 'Description' %>
<%= f.submit %>
<% end %>

<h4><%= link_to "Return to WWYD", users_path %></h4>
