

<div>Name: <%= @user.name %>
<%= button_to "Delete User", @user, :method=>:delete %></div>
<p>Username: <%= @user.handle %></p>
<div>Description: <%= @user.description %>  <%= link_to "Edit Description", edit_user_path %>


</div>







