
<p>Name: <%= @user.name %></p>
<p>Username: <%= @user.handle %></p>
<p>Description: <%= @user.description %></p>

<h4><%= link_to "Edit Description", edit_user_path %></h4>
<h4><%= link_to "Home Page", users_path %></h4>

<%= button_to "Delete User", @user, :method=>:delete %>



